.ico-mono-arrow {
  width: 0.6em;
  height: 1em;
  fill: #91A3FF;
}
.ico-mono-instagram {
  width: 1em;
  height: 1em;
  fill: #2D2D2D;
}
.ico-mono-mail {
  width: 1.36em;
  height: 1em;
  fill: #AEAEAE;
}
.ico-mono-phone {
  width: 1em;
  height: 1em;
  fill: #AEAEAE;
}
.ico-mono-telegram {
  width: 1.18em;
  height: 1em;
  fill: #212121;
}
.ico-mono-viber {
  width: 1em;
  height: 1em;
  fill: #212121;
}
.ico-mono-whatsapp {
  width: 1em;
  height: 1em;
  fill: #212121;
}
