form.form(action="")
    .form__inputs 
        .form__input
            input(type="text" name="name" placeholder="Ваше имя" required) 
        .form__input
            input.phone(type="text" name="phone" placeholder="Ваш телефон" required)
        .form__input
            input.phone(type="email" name="email" placeholder="Ваш email" required)
        input.form__submit.btn.btn--blue(type="submit" value="Заказать")
    .form__checkbox
        .form__checkbox-container
            input.form__checkbox-input(type="checkbox" checked)
            span.form__checkbox-btn
            .form__checkbox-text Нажимая кнопку, вы соглашаетесь с политикой обработки персональных данных.