section.main-top
    .l-default  
        .main-top__wrapper
            .main-top__slider.swiper-container
                .swiper-wrapper 
                    .swiper-slide
                        picture
                            source(srcset="img/main/slider/1.webp" type="image/webp")
                            source(srcset="img/main/slider/1.jpg" type="image/jpg")
                            img.lazy(data-src="img/main/slider/1.jpg" alt="")
                    .swiper-slide
                        picture
                            source(srcset="img/main/slider/2.webp" type="image/webp")
                            source(srcset="img/main/slider/2.jpg" type="image/jpg")
                            img.lazy(data-src="img/main/slider/2.jpg" alt="")
                    .swiper-slide
                        picture
                            source(srcset="img/main/slider/3.webp" type="image/webp")
                            source(srcset="img/main/slider/3.jpg" type="image/jpg")
                            img.lazy(data-src="img/main/slider/3.jpg" alt="")
            .main-top__info.effect.effect--right
                h1.main-top__title.title.title--h1 <span>Производство и монтаж</span> <br>септика из ЖБИ колец по ГОСТ
                .main-top__subtitle Подходит как для дачи так и для больших коттеджей!
                a.btn.btn--blue(href="#popup-form" data-fancybox) Получить консультацию 
