footer.footer#footer
    .l-default
        .footer__wrapper
            .footer__item
                .footer__logo
                    img.lazy(data-src="img/svg/logo.svg", alt="")
            .footer__item
                .footer__nav
                    a.footer__nav-item.scroll(href="#kinds") Виды септиков
                    a.footer__nav-item.scroll(href="#gallery") Галерея работ
                    a.footer__nav-item.scroll(href="#footer") Контакты
            .footer__item
                a.footer__link.footer__mail.lazy(href="mailto:zakaz@septikx.ru") zakaz@septikx.ru
                a.footer__link.footer__phone.lazy(href="tel:+74952345678") +7 (495) 234-56-78
                a.footer__link.footer__phone.lazy(href="tel:+74952345678") +7 (495) 234-56-78
            .footer__item
                .footer__socials-title Мы в соцсетях:
                .footer__socials
                    a.footer__social.lazy(href="https://tele.click/septikxx")
                        +svgMono("telegram")
                    a.footer__social.lazy(href="viber://chat?number=74950707078")
                        +svgMono("viber")
                    a.footer__social.lazy(href="whatsapp://send?text=Hello&phone=+74950707078&abid=+74950707078")
                        +svgMono("whatsapp")
                    a.footer__social.lazy(href="https://www.instagram.com/septikx/")
                        +svgMono("instagram")
    .footer__bottom
        .l-default
            .footer__bottom-wrapper
                .footer__privacy.footer__privacy-text © Florseptik, 2020
                a.footer__privacy.footer__privacy-link(href="") Политика конфиденциальности
                a.footer__privacy.footer__privacy-link(href="") Правовая информация