@font-face {
	font-family: 'Roboto';
	src: url('../../fonts/Roboto.woff') format('woff'),
		 url('../../fonts/Roboto.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../../fonts/Robotomedium.woff') format('woff'),
		 url('../../fonts/Robotomedium.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../../fonts/Robotolight.woff') format('woff'),
		 url('../../fonts/Robotolight.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../../fonts/Robotobold.woff') format('woff'),
		 url('../../fonts/Robotobold.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Averta';
	src: url('../../fonts/AvertaBold.woff') format('woff'),
		 url('../../fonts/AvertaBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

