section.horizontal-form.horizontal-form-title 
    .l-default 
        h3.horizontal-form__title.title.title--h3 Оставьте заявку!
        .horizontal-form__subtitle И наш специалист свяжется с вами, в ближайшее время.
        include ../form/form-title.pug
